// 字体的颜色以及大小
$color-text-primary: #4e5864;
$color-text-second: #8d9ca9;
$color-text-accent: #1572fc;
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;

// tab大小
$tab-height: 50px;
$header-heigh: 60px;

//头像大小
$portrait-size: 30px;

// 输入框大小
$input-height: 70px;
$input-width: 100%;

// loading button 代销
$loading-button-height: 40px;
$loading-button-width: 150px;
